@charset 'utf-8';
.EightPage{
    width:100%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    .echartsContainer{
        position: relative;
        flex:1;
        padding-top:5%;
        box-sizing: border-box;
    }
    .echartsBox{
        box-sizing: border-box;
        width:60%;
        height:90%;
        box-sizing: border-box;
        position: absolute;
        left:0px;
        top:5%;
        right:0px;
        bottom:0px;
        margin:auto;
        .imgICon{
            position: absolute;
            width:30px;
            height:30px;
            left:0px;
            top:0px;
            right:0px;
            bottom:0px;
            margin:auto;
            img{
                width:100%;
                height:100%;
            }
        }
        .titlePannel{
            position: absolute;
            right:-13%;
            top:10%;
            .titleName{
               color:hsla(189, 99%, 65%, 1);
               font-size:12px;
            }
            .Namevalue{
                margin-top:5px;
                display: inline-block;
                padding:0px 5px;
                color:#fff;
                font-size:18px;
                border-bottom: 1px solid #fff;
                padding-bottom: 3px
            }
        }
    }
    
}
