.twelveContainer {
    height: 100%;
    .infoBox {
        height: calc(98% - 49px);
        position: relative;
        margin: 19px 25px 9px 25px;
        overflow: hidden;
        .item {
            width: 100%;
            border: 1px solid rgba(71, 224, 230, 0.4);
            display: flex;
            margin-bottom: 10px;
            .left {
                flex: 3;
                padding: 12px 0 12px 12px;
                .image {
                    border: 1px solid rgba(71, 224, 230, 0.4);
                    width: 100%;
                    height: 100%;
                }
            }
            .right {
                flex: 4;
                padding: 12px 2px 12px 6px;
                .type {
                    background: linear-gradient(90deg, rgba(39, 166, 189, 0.98), rgba(69, 204, 254, 0));
                    color: #F0F4F5;
                    height: 24px;
                    margin-bottom: 10px;
                    line-height: 24px;
                    font-size: 14px;
                    padding: 0 4px;
                }
                .info {
                    color: #B2BDBF;
                    line-height: 17px;
                    font-size: 10px;
                    padding: 0 4px;
                }
            }
        }
    }
    .anim {
        transition: margin-top 2s;
        margin-top: -24px;
      } 
}