
.sixMain {
    width:100%;
    height:100%;

    .title{
        margin-top: 13px; 
        width:100%;
        height:16px; 
        text-align:center; 
        opacity:1;  
        font-size:16px;
        font-family:NotoSansHans-Regular;
        line-height:21px;
        .title1 {        
            color:rgba(202, 204, 210, 1);
        }  
        .title2 {
            color:rgba(249, 202, 69, 1);
        }     
        .title3 {
            color:rgba(202, 204, 210, 1);
        }     
        .title4 {
            color:rgba(67, 233, 25, 1);
        }          
      }

      .bottem{
        .text{
          margin:15px 0;
        } 
        width:100%;
        font-size:16px;
        font-family:NotoSansHans-Regular;
        line-height:21px;
        color:rgba(202,204,210,1);

        .imgItem{
          margin-left: 17px;
          width:11px;
          height:11px; 
          margin-right: 10px;
        }

        .bottemItem{        
          padding-bottom:4px;
          border-bottom: 1px solid #707070;
        }
      }

}