
.fiveMain {
  width: 100%;
  height: 100%;

  .infoItemBox {
      width: calc(100% - 25px);
      height: 25%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      .infoItem {
          width: 25%;
          text-align: center;
          .itemName {
              font-size: 6px;
              font-family:Source Han Sans SC;
              font-weight:400;
              color:rgba(255,255,255,1);
          }
          .itemNumber {
            margin-top: 6px;
            font-size: 8px;
            font-family:Source Han Sans SC;
            font-weight:400;
            color:rgba(64,253,251,1);
        }
      }
    }

     .chart{
      width: calc(100% - 25px);
      height: 53%;
    }

}