@import 'assets/css/index.modules.scss';
.manager .mapboxgl-popup-content{
  padding: 10px 0px 15px !important;
  opacity: 1;
  border-radius: 4px;
}
.managerPopup1 .mapboxgl-popup-content{
  width: 362px;
  height: 250px; 
  background: url('~img/manager/statistics.png') no-repeat;
  display: none;
}
.managerPopup2 .mapboxgl-popup-content{
  width: 313px;
  height: 218px; 
  background: url("~img/manager/incidents.png") no-repeat;
  display: none;
}
.managerPopup1 {
  .font{
    width:47px;
    height:1px;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:28px;
    text-align: center;
    }
  .title{
    width:auto;
    height:20px;
    font-size:20px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgb(255, 255, 255);
    padding: 3px  0px 30px 53px;
  }
  .static{
    float: left;
    width: 8px;
    height: 12px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-left: 52px;
    margin-top: 75px;
  }
}
.managerPopup2{
    .title{
      width:auto;
      height:20px;
      font-size:20px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      text-align: center;
    }
  .body{
    padding-top: 7%;
  }
  .content{
    text-align: center;
    height: 26px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
  }
}
