.emergency .mapboxgl-popup-content {
  width: 240px;
  height: 294px;
}

.popupEmergency1 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_hospital.png") no-repeat;
  color: RGB(0, 255, 0);
}
.popupEmergency2 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_firecontrol.png") no-repeat;
  color: RGB(0, 255, 255);
}
.popupEmergency3 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_police.png") no-repeat;
  color: RGB(35, 170, 255);
}
.popupEmergency4 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_hospital.png") no-repeat;
  color: RGB(0, 255, 0);
}
.popupEmergency5 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_weather.png") no-repeat;
  color: RGB(255, 255, 0);
}
.popupEmergency6 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_police.png") no-repeat;
  color: RGB(35, 170, 255);
}
.popupEmergency7 .mapboxgl-popup-content {
  background: url("~img/emergency/icon_resident.png") no-repeat;
  color: RGB(255, 132, 50);
}
.fontEmergency {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  margin: 9% auto;
}
