.popupEmergency1 .mapboxgl-popup-content{
    width:160px;
    height:254px; 
    background:url("../../../public/img/emergency/icon_3.png") no-repeat;
    background-size: 100% 100%;
    color:RGB(0, 255, 0);
}
.popupEmergency2 .mapboxgl-popup-content{
    width:213px;
    height:247px; 
    background:url("../../../public/img/emergency/icon_1.png") no-repeat;
    background-size: 100% 100%;
    color:RGB(35 ,170 ,255);
}
.popupEmergency3 .mapboxgl-popup-content{
    width:254px;
    height:241px; 
    background:url("../../../public/img/emergency/icon_2.png") no-repeat;
    background-size: 100% 100%;
    color:RGB(0, 255 , 255);
}
.popupEmergency4 .mapboxgl-popup-content{
    width:213px;
    height:256px; 
    background:url("../../../public/img/emergency/icon_4.png") no-repeat;
    background-size: 100% 100%;
    color:RGB(255, 255, 0);
}
.fontEmergency{
    font-size:18px;
    font-family:PingFang SC; 
    font-weight:800;
    letter-spacing: 1px;
    text-align: center;
    line-height:10px;
    margin: 0 auto;
  }
  