@import 'assets/css/index.modules.scss';

/*当日疫情*/
.oneContainer {
    width: 100%;
    height: 100%;

    .infoItemBox {
        width: calc(100% - 25px);
        height: calc(100% - 49px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        .infoItem {
            width: 40%;
            text-align: center;

            .itemNumber {
                line-height: 50px;
                font-size: 32px;
            }

            .itemName {
                font-size: 20px;
                line-height: 23px;
                color: $primary-text-color;
            }
        }

    }
}

.iconWrapper {
    text-align: center;
    margin-top: 20px;

    .arc {
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0 0 0 2px #006CED;
            margin: auto;
        }
    }
}

.serviceWrapper {
    display: flex;
    font-size: 12px;
    margin: 40px 5px;
    .before{
        flex: 1 0 120px;
        color: #ffffff;
        margin-right: 2px;
        .number{
            width: 18px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            background-color: #05D9F9;
            color: #000000;
            font-weight: 700;
            margin-right: 10px;
        }
    }
    .progress{
        margin-top: -4px;
        margin-right: 5px;
        .ant-progress-inner{
            background-color: rgba(0,0,0,0);
        }
    }
    .after{
        flex: 1 0 50px;
        color: #05DEFF;
    }
}