@import 'assets/css/index.modules.scss';
$nineliImg: '/img/affairs/invoice.png',
'/img/affairs/social.png',
'/img/affairs/tax.png';
$eightliImg: '/img/affairs/statistic.png',
'/img/affairs/marry.png',
'/img/affairs/divorce.png';

/*当日疫情*/
.oneContainer {
    width: 100%;
    height: 100%;

    .infoItemBox {
        width: calc(100% - 25px);
        height: calc(100% - 49px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        .infoItem {
            width: 40%;
            text-align: center;

            .itemNumber {
                line-height: 50px;
                font-size: 32px;
            }

            .itemName {
                font-size: 20px;
                line-height: 23px;
                color: $primary-text-color;
            }
        }

    }
}


.iconWrapper {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 100%;

    .itemImg {
        width: 33%;
        .iconText {
            color: #fff;
            margin-top: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .iconNum {
            @extend .iconText;
            font-size: 30px;
            font-weight: bold;
            font-family: fantasy;
            color: #05DEFF;

            &:hover {
                color: #FC2709;
                cursor: pointer;
            }
        }
    }

    @each $img in $nineliImg {
        $i: index($nineliImg, $img);

        .nineImg#{$i} {
            margin-top: 10px;
            background-image: url($img);
            width: 66px;
            height: 66px;
            background-repeat: no-repeat;
                display: inline-block;
        }
    }

    @each $img in $eightliImg {
        $i: index($eightliImg, $img);

        .eightImg#{$i} {
            margin-top: 10px;
            background-image: url($img);
            width: 66px;
            height: 66px;
            background-repeat: no-repeat;
            display: inline-block
        }
    }

}

.serviceWrapper {
    display: flex;
    font-size: 12px;
    margin: 40px 5px;

    .before {
        flex: 1 0 120px;
        color: #ffffff;
        margin-right: 2px;

        .number {
            width: 18px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            background-color: #05D9F9;
            color: #000000;
            font-weight: 700;
            margin-right: 10px;
        }
    }

    .progress {
        margin-top: -4px;
        margin-right: 5px;

        .ant-progress-inner {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .after {
        flex: 1 0 50px;
        color: #05DEFF;
    }
}

.twelveBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    .infoItem {
        width: 40%;
        margin-top:-15%;
        text-align: center;
        .itemPic{
            height:100%;
        }
        .itemNumber {
            font-size:36px;
            font-family:Impact;
            font-weight:400;
            color:rgba(5,222,255,1);
        }
        .itemName {
            font: size 14px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(254,254,254,1);
        }
    }

}