@import 'assets/css/index.modules.scss';
$nineliImg: '/img/affairs/invoice.png',
'/img/affairs/social.png',
'/img/affairs/tax.png';
$eightliImg: '/img/affairs/statistic.png',
'/img/affairs/marry.png',
'/img/affairs/divorce.png';
$elevenliImg: '/img/affairs/eleven1.png',
'/img/affairs/eleven2.png',
'/img/affairs/eleven3.png';

/*当日疫情*/
.oneContainer {
    width: 100%;
    height: 100%;

    .infoItemBox {
        width: calc(100% - 25px);
        height: calc(100% - 49px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        .infoItem {
            width: 40%;
            text-align: center;

            .itemNumber {
                line-height: 50px;
                font-size: 32px;
            }

            .itemName {
                font-size: 20px;
                line-height: 23px;
                color: $primary-text-color;
            }
        }

    }
}


.iconWrapper {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    height: 100%;

    .itemImg {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .iconText {
            color: #fff;
            margin-top: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .iconNum {
            @extend .iconText;
            font-size: 30px;
            font-weight: bold;
            font-family: fantasy;
            color: #05DEFF;

            &:hover {
                color: #FC2709;
                cursor: pointer;
            }
        }
    }

    @each $img in $nineliImg {
        $i: index($nineliImg, $img);

        .nineImg#{$i} {
            background-image: url($img);
            height: 66px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    @each $img in $eightliImg {
        $i: index($eightliImg, $img);

        .eightImg#{$i} {
            background-image: url($img);
            height: 66px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    @each $img in $elevenliImg {
        $i: index($elevenliImg, $img);

        .elevenImg#{$i} {
            background-image: url($img);
            height: 66px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

}

.serviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100% - 50px);

    .serviceWrapper {
        display: flex;
        font-size: 12px;

        .before {
            flex: 1 0 120px;
            color: #ffffff;
            margin-right: 2px;

            .number {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                background-color: #05D9F9;
                color: #000000;
                font-weight: 700;
                margin-right: 10px;
            }
        }

        .progress {
            margin-top: -4px;
            margin-right: 5px;

            .ant-progress-inner {
                background-color: rgba(0, 0, 0, 0);
            }
        }

        .after {
            flex: 1 0 50px;
            color: #05DEFF;

            .img {
                width: 12px;
                margin-left: 5px;
            }
        }
    }
}


.twelveBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .infoItem {
        width: 40%;
        margin-top: -15%;
        text-align: center;

        .itemPic {
            height: 100%;
        }

        .itemNumber {
            margin-top: 12%;
            font-size: 36px;
            font-family: Impact;
            font-weight: 400;
            color: rgba(5, 222, 255, 1);
        }

        .itemName {
            margin-top: 12%;
            font-size: 14px;
            font-family: 'Microsoft YaHei';
            font-weight: 400;
            color: rgba(254, 254, 254, 1);
        }
    }

}