.mapboxgl-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -11;
}
.mapboxgl-popup-tip {
  border: none !important
}
.mapboxgl-popup-content { 
  width:222px;
height:58px; 
padding: 10px 0px 15px !important;
opacity:1;
border-radius:4px;
display: flex;
align-items: center;
}

.popup1 .mapboxgl-popup-content{
background:url("../../../public/img/affairs/top1.png") no-repeat;
}
.popup2 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top2.png") no-repeat;
}
.popup3 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top3.png") no-repeat;
}
.popup4 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup5 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup6 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup7 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup8 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup9 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}
.popup10 .mapboxgl-popup-content{
  background:url("../../../public/img/affairs/top4.png") no-repeat;
}


.mapboxgl-popup-content div
{
	flex:1;
}

.font{
width:8px;
height:22px;
font-size:30px;
font-family:PingFang SC;
font-weight:400;
color:rgba(255,255,255,1);
line-height:28px;
text-align: center;
}
.font2{
  width:48px;
  height:16px;
  font-size:14px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
}
.font3{
width:97px;
height:12px;
font-size:12px;
font-family:PingFang SC;
font-weight:400;
color:rgba(255,255,255,1);
}
.font4{
width:54px;
height:18px;
font-size:22px;
font-family:PingFang SC;
font-weight:500;
color:rgba(243,229,71,1);
}
