.mapboxgl-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -11;
}
.mapboxgl-popup-tip {
  border: none !important
}
.affairs .mapboxgl-popup-content { 
width:222px;
height:58px; 
padding: 10px 0px 15px !important;
opacity:1;
border-radius:4px;
display: flex;
}

.affairsPopup1 .mapboxgl-popup-content{
background:url("~img/affairs/top1.png") no-repeat;
}
.affairsPopup2 .mapboxgl-popup-content{
  background:url("~img/affairs/top2.png") no-repeat;
}
.affairsPopup3 .mapboxgl-popup-content{
  background:url("~img/affairs/top3.png") no-repeat;
}
.affairsPopup4 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup5 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup6 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup7 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup8 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup9 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}
.affairsPopup10 .mapboxgl-popup-content{
  background:url("~img/affairs/top4.png") no-repeat;
}


.affairs div
{
  /* flex:1; */
  align-items: center;
}

.font{
width:62px;
height:22px;
font-size:30px;
font-family:PingFang SC;
font-weight:400;
color:rgba(255,255,255,1);
line-height:28px;
text-align: center;
}
.font2{
  padding: 3px 0px 0px 3px;
  width:60px;
  height:16px;
  font-size:14px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
}
.font3{
padding-top:2px;
width:97px;
height:12px;
font-size:12px;
font-family:PingFang SC;
font-weight:400;
color:rgba(255,255,255,1);
}
.font4{
padding-top:7px;
width:54px;
height:18px;
font-size:20px;
font-family:PingFang SC;
font-weight:500;
color:rgba(243,229,71,1);
}
