.mapboxgl-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -11;
}

.popup .mapboxgl-popup-content {
  position: relative;
  background:red;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  width: 300px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-bottom: none;
  border-top-color:red !important
}