@import "assets/css/index.modules.scss";

.six {
  height: 100%;
  .bg {
    text-align: center;
    margin-top: 10px;
  }
  .marquee {
    color: #ffffff;
    font-size: 12px;
<<<<<<< HEAD
    line-height:20px;
    opacity:0.6;
    padding: 10px 16%;
=======
    line-height: 20px;
    opacity: 0.6;
    padding: 10px 20px;
    div {
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
>>>>>>> 2736570e54c39b9c62d81fa603516105d84ed2ad
  }
}
