@import "assets/css/index.modules.scss";

.six {
  height: 100%;
  .marquee {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
    padding: 10px 20px;
    height: calc(100% - 68px);
    marquee{
      text-align: center;
    }
    p{
      padding: 0 6%;
    }
  }
}
