@import 'assets/css/index.modules.scss';


.six{
  height: 100%;
  .bg{
    text-align: center;
    margin-top: 10px;
  }
  .marquee{
    color:#ffffff;
    font-size: 12px;
    line-height:20px;
    opacity:0.6;
    padding: 10px 5px;
  }
}