$primary-text-color:white;
$text-color:rgb(128, 0, 96);


.container{
    height: 100%;
    overflow: hidden;
    .leftWrapper {
        z-index: 2;
        height: 100%;
        width: 23%;
        float: left;
    }
    .rightWrapper {
        z-index: 2;
        height: 100%;
        width: 23%;
        float: right;
    }

    .item {
        background: linear-gradient(90deg, rgba(17, 17, 17, 0.9) 0%, rgba(17, 17, 17, 0.66) 52%, rgba(17, 17, 17, 0) 100%);
        padding: 10px;
        height: 35%;
        margin-bottom: 10px;
    }
    .itemRight{
        @extend .item;
        background: linear-gradient(90deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.66) 48%, rgba(17, 17, 17, 0.9) 100%);
    }
}




.content {
    height: calc(100% - 68px);
}