@import 'assets/css/index.modules.scss';
.fourContainer {
    height: 100%;
    .itemBox {
        padding: 13px 25px 13px 19px;
        height: calc(100% - 49px);
        display: flex;
        flex-direction:column;
        .progressInfo {
            font-size: 10px;
            font-weight: 300;
            opacity: 0.7;
            flex: 1;
            display: flex;
            align-items: center;
            .name {
                color: rgba(254,254,254,1);
            }
            .count {
                color: #3ED5DE;
                text-align: right;
        
            }
        }
    }
}

