@import './index.scss';

@function vw($num) {
   @return ($num/ 19.2) + vw;
}
@function vh($num) {
   @return ($num/ 12) + vh;
}

.FooterPage{
    background: url(~img/footer/footer.png) no-repeat;
    background-size: 100% 100%;
    line-height: vh(50);
    z-index: 2;
    padding:0;
    .FooterListBox{
        flex: 1;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        a{
            color:#CACCD2;
        }
        a:active{
            color:rgba(5, 222, 255, 1);
        }
        li{
            display: inline-block;
            color:#CACCD2;
            font-size:vw(16);
            height: 100%;
            line-height: vw(50);
            flex: 0 1 vw(120);
            &:hover{
             cursor: pointer;   
            }
            &:last-child{
                .FooterVerLine{
                    width:0;
                }
            }
            .FooterList{
                text-align: center;
                width: 100%;
                background:url('~img/footer/bg.png') no-repeat;
                background-size: 100% 100%;
                display: inline-block;
                color:rgba(5, 222, 255, 1);
                padding:0 vw(18);
                margin:0 vw(5);
            }
            .FooterActive{
                @extend .FooterList;
                background:url('~img/footer/activeBg.png') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    .logo{
        position: absolute;
        right: 0;
        display: inline-block;
        bottom: 0;
        height: vh(50);
        width: vw(170);
        background-image: url("~img/footer/ChinaMobile.png");
        background-size: 54% 54%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
