@import './index.scss';

@function vw($num) {
   @return ($num/ 19.2) + vw;
}

.FooterPage{
    // background: linear-gradient(90deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0.3) 60%, rgba(17, 17, 17, 1) 100%);
    background: url(~img/footer/footer.png) no-repeat;
    background-size: 100% 100%;
    height: vw(50);
    z-index: 2;
    padding:0;
    .FooterListBox{
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        a{
            color:#CACCD2;
        }
        a:active{
            color:rgba(5, 222, 255, 1);
        }
        li{
            display: inline-block;
            color:#CACCD2;
            font-size:vw(16);
            height: 100%;
            line-height: vw(50);
            &:hover{
             cursor: pointer;   
            }
            &:last-child{
                .FooterVerLine{
                    width:0;
                }
            }
            .FooterList{
                margin:0 vw(18);
            }
            .FooterVerLine{
                display: inline-block;
                width:1px;
                height:vw(24);
                background-color:#CACCD2;
                vertical-align: text-top;
            }
        }
        .FooterActive{
            display: inline-block;
            color:rgba(5, 222, 255, 1);
            background:url('~img/footer/activeBg.png') no-repeat;
            background-size: 100% 100%;
            height:100%;
            // background:linear-gradient(180deg,rgba(5,222,255,1) 0%,rgba(13,14,14,0) 100%,rgba(5,222,255,1) 0%,rgba(13,14,14,0) 100%);        
        }
    }
}
