@import './index.scss';
.layout {
  height: 100%;
}
.title {
  color: white;
  font-size: 1.7em;
  // width: 30%;
  display: inline;
  a{
    color: $text-color
  }
}
.header {
  //   background-color: #0c2a53;
  z-index: 99;
}
.menu {
  //   a {
  //     font-size: 1em;
  //     color: white;
  //   }
  float: right;
  display: inline;
  width: 50%;
}
.avatar {
  float: right;
  margin-top: 15px;
}
.logoIcon,.headerIcon{
  background: url("~img/header/headerIcon.png");
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logoIcon{
  width: 34px;
  height: 34px;
}
.headerIcon{
  width: 19px;
  height: 18px;
}
.logo{
  background-position: -208px 0;
}
.home{
  background-position:-109px 0;
}
.homeActive{
  background-position:-71px 0;
}
.message{
  background-position:-168px 0;
}
.messageActive{
  background-position:-188px 0;
}
.model{
  background-position:-17px 0;
}
.modelActive{
  background-position:0 0;
}
.data{
  background-position:-52px 0;
}

.dataActive{
  background-position:-90px 0;
}
.synthesize{
  background-position:-128px 0;
}
.synthesizeActive{
  background-position:-148px 0;
}

