@import './index.scss';

.HeaderPage{
  width:100%;
  height:100px;
  background:linear-gradient(180deg,rgba(17,17,17,0.92) 0%,rgba(17,17,17,0) 100%);
  opacity:0.8;
  z-index: 99; 
  .leftBox{
      float:left;
      height:100%;
      width:400px;
      .logoBox{    
          width:755px;
          height:49px;
          position:absolute;
          left:40px;
          top:31px; 
          background:rgba(255,255,255,1);
          opacity:1;
          background:url('~img/header/logoIcon.png');   
          }
  }
  .rightBox{
      float:right;
      position:relative;
      height:100%;
      .weatherpicBox{
          float:left;
          position:absolute;
          right:154px;
          top:15px; 
          width:90px;
          height:90px;
          background:rgba(0,0,0,0);
          opacity:1;
          background:url('~img/header/weatherIcon.png');  
          }
      .dateBox{ 
          position:absolute;
          right:268px;
          top: 75px; 
          width:148px;
          height:16px;
          font-size:16px;
          font-family:NotoSansHans-Regular;
          line-height:21px;
          color:rgba(217,217,217,1);
          opacity:1;
          }
      .weekBox{ 
          position:absolute;
          right:268px;
          top: 37px; 
          width:123px;
          height:40px;
          font-size:30px;
          font-family:NotoSansHans-Bold;
          line-height:40px;
          color:rgba(217,217,217,1);
          opacity:1;
          } 
      .temperatureBox{ 
          position:absolute;
          right:60px;
          top: 37px; 
          width:70px;
          height:43px;
          font-size:32px;
          font-family:NotoSansHans-Bold;
          line-height:43px;
          color:rgba(217,217,217,1);
          opacity:1;
          }  
      .weatherBox{ 
          position:absolute;
          right:60px;
          top: 75px; 
          width:64px;
          height:16px;
          font-size:16px;
          font-family:NotoSansHans-Regular;
          line-height:21px;
          color:rgba(217,217,217,1);
          opacity:1;
          }

  }
  .headLine{
    position:relative;
    width:100%;
    height:1px;
    top:100px; 
    background:linear-gradient(270deg,rgba(108,245,176,1) 0%,rgba(109,250,254,1) 44%,rgba(43,166,255,1) 94%,rgba(24,143,255,0) 100%);  
  }

}
