/**
 * @Auto: 王小祥
 * @Date: 2020/7/15
 * @Description: 事务模块-当日办事渠道排行模块-样式设置模块
 * @LastEditors: 王小祥
 * @LastEditTime: 2020/7/15
 */

/**
 * @currentAffairsWrap:当日办事渠道排行模块父级样式设置
 */
.currentAffairsWrapFour{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1000;
	.headerFour{
		width: 100%;
	}
	.contentFour{
		margin-top: 15px;
		height: calc(100% - 68px);
		.contentHeaderFour{
			color: #4B8CD3;
			font-size: 12px;
			span:nth-child(1){
				margin-left: 23px;
			}
			span:nth-child(2){
				margin-left: 10px;
			}
		}
		.infoShowWrapFour{
			width: 90%;
			margin-left: 25px;
			margin-top:4px;
			height: 98%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.infoShowFour{
				.infoTxtFour{
					width: 100%;
					font-size: 14px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.rankingDitchWrapFour{
						width: 60%;
						display: flex;
						justify-content: start;
						align-items: center;
						.rankingFour{
							display: inline-block;
							width: 14px;
							height: 14px;
							border-radius: 100%;
							background: #05DEFF;
							font-size: 10px;
							color: #041B38;
							line-height: 14px;
							text-align: center;
						}
						.ditchFour{
							margin-left: 4px;
							font-size: 13px;
							color: #FFFFFF;
						}
					}
					.proportionFour{
						color: #05DEFF;
						font-size: 14px;
					}
				}
			}
		}
	}
	.ant-progress-inner{
		border-radius: 0 !important;
		background: rgba(0,0,0,.5);
	}
	.ant-progress-success-bg, .ant-progress-bg{
		border-radius: 0 !important;
	}
}
