/**
 * @Auto: 王小祥
 * @Date: 2020/7/15
 * @Description: 事务模块-当日办事渠道排行模块-样式设置模块
 * @LastEditors: 王小祥
 * @LastEditTime: 2020/7/15
 */

/**
 * @currentAffairsWrap:当日办事渠道排行模块父级样式设置
 */
.currentAffairsWrap{
	border: 1px solid red;
	width: 450px;
	height: 310px;
}