@import 'assets/css/index.modules.scss';

.radioButton {
    background: #65B3FA !important;
    border-radius: 4px;
    outline: none;
    color: #fff;
    border-color: #65B3FA;
    border: 0;

    &:hover {
        background-color: #fff !important;
        color: #313131;
        border-color: #313131;
        border: 0;
    }
}

.active {
    background-color: #fff !important;
    color: #313131;
    border-color: #313131;
    border: 0;
    display: inline-block;
}
