/**
 * @Auto: 王小祥
 * @Date: 2020/7/16
 * @Description: 信用模块-当日疫情服务-样式设置模块
 * @LastEditors: 王小祥
 * @LastEditTime: 2020/7/16
 */

.currentAffairsWrapOne{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1000;
	.headerOne{
		width: 100%;
	}
	.contentOne{
		margin-top: 7px;
		height: calc(100% - 48px - 7px);
		.contentHeaderOne{
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.headerTitleOne{
				width: 100px;
				text-align: center;
				h5{
					font-size: 16px;
					color: #FFFFFF;
					font-weight: normal;
					margin: 0;
					margin-top: 4px;
				}
				span{
					font-size: 18px;
					color: #FA6767;
					display: inline-block;
					margin-top: 4px;
				}
				.redAnnouncedLegalPerson{
					color: #FA6767;
				}
				.blackAnnouncedLegalPerson{
					color: #A290FF;
				}
				.blackAnnouncedPerson{
					color: #A290FF;
				}
			}
		}
		.tipTitleOne{
			color: #FFFFFF;
			font-size: 6px;
			text-align: right;
			margin-top: 5px;
			span{
				display: inline-block;
				width:15px;
				height: 6px;
				border-radius: 3px;
			}
			.redAnnouncementOne{
				background: #F7517F;
				margin-right: 4px;
			}
			.blackAnnouncementOne{
				background: #6648FF;
				margin-right: 4px;
			}
			.blackTxt{
				margin-right: 32px;
				width: auto;
			}
			.redkTxt{
				width: auto;
				margin-right: 8px;
			}
		}
		.dataViewShowOne{
			display: flex;
			justify-content: start;
			align-items: stretch;
			height: calc(100% - 60px);
			.dataViewOne{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				.leftProgressOne{
					width: 60%;
					height: 100%;
					.leftDataProgressOne{
						height: 100%;
						display: flex;
						justify-content: space-around;
						flex-direction:column;
						.leftDataProgressShowOne{
							height: 16px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 100%;
							h5{
								color: #FFFFFF;
								margin-left: 13px;
								font-size: 7px;
								font-weight: normal;
							}
							.progressDataShow{
								width: 0;
								background: #F7517F;
								height: 8px;
								border-radius: 4px 0 0 4px;
								position: relative;
								span{
									text-align: center;
									width: 15px;
									height: 15px;
									line-height: 12px;
									color: #FFFFFF;
									font-size: 6px;
									position: absolute;
									left: -15px;
									top: 0px;
									bottom: 0;
									margin: auto;
								}
							}
						}
					}
				}
				.middleLineOne{
					width: 2px;
					height: calc(100% - 5%);
					background: #756E9F;
					position: relative;
					top: -1px;
				}
				.rightProgressOne{
					width: 30%;
					display: flex;
					height: 100%;
					justify-content: space-around;
					flex-direction:column;
					.rightDataProgressOne{
						height: 100%;
						display: flex;
						justify-content: space-around;
						flex-direction:column;
						.leftDataProgressShowOne{
							height: 16px;
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 100%;
							.progressDataShowRight{
								width: 0;
								background: #6648FF;
								height: 8px;
								border-radius: 0px 4px 4px 0;
								position: relative;
								span{
									text-align: center;
									width: 15px;
									height: 15px;
									line-height: 12px;
									color: #FFFFFF;
									font-size: 6px;
									position: absolute;
									right: -15px;
									top: 0px;
									bottom: 0;
									margin: auto;
								}
							}
						}
					}
				}
			}
		}
	}
	.dataViewOne .ant-progress-inner{
		border-radius: 0 8px 8px 0 !important;
		background: rgba(0,0,0,0);
	}
	.dataViewOne .ant-progress-success-bg, .ant-progress-bg{
		border-radius: 0 8px 8px 0 !important;
	}
	.dataViewOne .ant-progress-line{
		font-size: 0;
	}
}