@import 'assets/css/index.modules.scss';


.eight{
  height: 100%;
  .eightContainer{
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    padding: 0 20px;
    >div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      color: #ffffff;
      >div{
        padding-left: 15px;
        .title{
          text-align: center;
        }
      }

    }
  }
}
.six {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .content {
    height: 80%;
  }
}
